# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
*.dll
*.exe
*.pdb
!*.exe.config

# NuGet
packages/
*.nupkg
*.snupkg

# User-specific files
*.rsuser
*.userprefs

# Rider
.idea/

# Visual Studio Code
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/
